@use "@angular/material" as mat;

@tailwind base;
@tailwind components;
@tailwind utilities;

$light-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$violet-palette,
    ),
    density: (
      scale: 0,
    ),
  )
);

$dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: mat.$violet-palette,
    ),
    density: (
      scale: 0,
    ),
  )
);

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

html {
  color-scheme: light dark;
}

body.dark-mode {
  @include mat.all-component-themes($dark-theme);
  background-color: #121212;
  color: #ffffff;
}

body.light-mode {
  @include mat.all-component-themes($light-theme);
  background-color: #ffffff;
  color: #000000;
}
